<div>
    <h1>Inputs limpiables</h1>
    <hr>
    <app-input class="mr-10" [style]="'inputClearable'" [label]="'Input limpiable'"></app-input>
    <app-input class="mr-10" [style]="'inputNumberClearable'" [label]="'Input Number'"></app-input>
</div>

<div>
    <h1>Inputs Simples</h1>
    <hr>
    <app-input class="mr-10" [style]="'inputText'" [type]="'text'" [label]="'Input Text'"></app-input>
    <app-input class="mr-10" [style]="'inputNumber'" [label]="'Input Number'"></app-input>
    <app-input class="mr-10" [style]="'inputEmail'" [label]="'Input Email'"></app-input>
    <app-input class="mr-10" [style]="'inputText'" [type]="'password'" [label]="'Input Password Text'"></app-input>
</div>

<div>
    <h1>Selectores</h1>
    <hr>
    <app-input class="mr-10" [style]="'selectMultiple'" [label]="'Multiple Select'"></app-input>
    <app-input class="mr-10" [style]="'selectSimple'" [label]="'Simple Select'"></app-input>
</div>





