<app-button [type]="'mat-button'" mat-button [color]="'primary'" (click)="onClick()" [disable]="false" [text]="text" [icon]="icon"></app-button>

<app-button [type]="'mat-fab'" mat-fab [color]="'warn'" (click)="onClick()" [disable]="false" [text]="text" [icon]="icon"></app-button>

<app-button [type]="'mat-flat-button'" mat-flat-button [color]="'accent'" (click)="onClick()" [disable]="false" [text]="text" [icon]="icon"></app-button>

<app-button [type]="'mat-icon-button'" mat-icon-button [color]="'primary'" (click)="onClick()" [disable]="false" [text]="text" [icon]="icon"></app-button>

<app-button [type]="'mat-mini-fab'" mat-mini-fab [color]="'warn'" (click)="onClick()" [disable]="false" [text]="text" [icon]="icon"></app-button>

<app-button [type]="'mat-raised-button'" mat-raised-button [color]="'accent'" (click)="onClick()" [disable]="false" [text]="text" [icon]="icon"></app-button>

<app-button [type]="'mat-stroked-button'" mat-stroked-button [color]="'primary'" (click)="onClick()" [disable]="false" [text]="text" [icon]="icon"></app-button>



